@import "../../global.scss";
@media screen and (max-width: 768px) {

    footer {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        padding-top: 20vh;
        background-color: rgb(14, 14, 14);

        .about {
            width: 80vw;
        }
    }

    .rowObjects {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .logoFooter {
            img {
                display: none;
            }
        }
    }

    .adress {
        padding: 0px;
        margin: 0px;

        p {
            width: 80vw;
        }
    }

    .copyright {
        width: 80vw;
    }
    

}
//Botão de contato Início
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
}

.buttonContato {
  display: flex;
  justify-content: center;
}


.cta {
    display: flex;
    padding: 15px 30px;
    margin-left: 55px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: $roxo;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

.cta > span {
  transform: skewX(15deg);
}

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}
.textButton{
    text-align: center;
    color:#FFF;
}
//Botão de Contato fim

footer {

    width: 100vw;
    overflow-y: hidden;
    color: #FFF;
    background-color: rgb(14, 14, 14);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    flex-direction: column;
    margin-top: 4rem;
    height: 50vh;

}

.rowObjects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logoFooter {

    height: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}


.logoFooter img {

    height: 30vh;

}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 50%;
    margin-bottom: 50px;
    color: $amarelo;
}

.about p {
    font-weight: bold;
}


.adress {

    height: 20vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: right;
    justify-content: space-around;
    padding-right: 25px;
    margin-left: 75px;
    //margin-right: 10px;

}

.adress img {

    height: 38px;
    padding: 0px 4px;

}

.adress p {
    margin-top: 20px;
    text-align: center;
}

.socialMedia {
    margin-top: 20px;
    display: flex;
    flex-direction: space-around;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.copyright h1 {
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
}

